body { 
	color: #666666; 
	background-color: #FFFFFF;
	}

h1 { 
	color: #FFFFFF; 
	background-color: #000033;
	}

 nav { 
	float: left; width: 160px;	
       font-weight: bold;
	} 

h2 { 
	color: #3399CC;
	font-family: Georgia, "Times New Roman", serif;
	}

dt { 
	color: #000033
	}

.resort { 
	color: #5C7FA3;
	font-weight: bold;
	}

h1 {
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-position: right top; 
	padding: 10px; 
	font-family: Georgia, "Times New Roman", serif;
	margin-bottom: 0;
	}

h3 { 
	color: #000033;
	font-family: Georgia, "Times New Roman", serif;
	}

body { 
	background-image: url(ptrbackground.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 97%; 
	}

#wrapper { 
	margin-left: auto;
	margin-right: auto;
	min-width: 960px;
	width: 80%;
	background-color: #90c7e3;
	} 

#content { 
		padding: 1px 20px 55px 30px;
		margin-left: 190px;
		list-style-position: inside;
		list-style-image: url(marker.gif);
		background-color: #ffffff;
	} 

#contact { 
		font-size: 90%;
		padding: 1px 20px 20px 5px; 
	}

#footer { 
	padding: 20px;
	font-size: 75%;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
	background-color: #ffffff;
	margin-left: 190px;
	clear: both; 
	}

#content img, #content video, #content embed { 
		float: left;
		padding-right: 20px; 
	}

nav ul { 
	list-style-type: none; 
	padding: 20px; 
	}


nav a { 
	font-size: 1.2em;
	text-decoration: none;
	-webkit-transition: color 3s ease-out;
 	-moz-transition: color 3s ease-out;
 	-o-transition: color 3s ease-out;
 	transition: color 3s ease-out; 
	}

nav a:visited { 
	color: #344873; 
	}

nav a:hover { 
	color: #ffffff; 
	}

header, hgroup, nav, footer, figure, figcaption, aside, section, 
article { 
	display: block; 
	}

#mobile { 
	display: none; 
	}

#desktop { 
	display: inline; 
	}

img { 
	max-width: 100%; 
	height: auto; 
	}

label { 
	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 10px; 
	}

input, textarea { 
	display-block;
	margin-bottom: 20px; 
	}

#gallery { 
	position: relative; 
	height: 200px; }

#gallery ul {
	list-style-type: none;
    	width: 300px; 
	}

#gallery li { 
	display: inline; 
     	float: left;
	padding: 10px; 
	}

#gallery img { 
	border-style: none; 
	}

#gallery a { 
	text-decoration: none;
        text-align: left;
	color: blue; 
	}

#gallery span { 
	position: absolute;
        left: -1000px;
        opacity: 0; 
	}

#gallery a:hover span {     
			position: absolute;
			top: 16px;
			left: 320px; 
			text-align: center; 
            		opacity: 1; 
		}

figure {    
	position: absolute;
	left: 280px; 
	text-align: center; 
        opacity: .25; 
	}


@media only screen and (max-width: 768px) {
body { margin: 0; }
#wrapper { min-width: 0;
	width: auto; }
#content { margin-left: 0; }
nav { float: none;
	width: auto;
	padding: 0; }
nav ul { text-align: center; }
nav li { padding: 0 0.75em 0 .75em; 
	display: inline; }
#footer { margin-left: 0; } 
}


table { 
	border: 1px solid #3399CC; 
	width: 80%; 
	border-spacing: 0; 
	}

td, th { 
	padding: 5px; 
	border: 1px solid #3399CC; 
	}

td { 
	text-align: center; 
	}

#text { 
	text-align: left; 
	}

tr:nth-of-type(odd) { 
	background-color: #F5FAFC; 
	}


@media only screen and (max-width: 480px) {
body { margin: 0; }
#wrapper { width: auto;
	min-width: 0;
	margin: 0; }
#content { padding: 0.1em 1em 0.1em 1em;
	font-size: 90%;
	margin: 0; }
h1 { margin: 0;
	font-size: 1.5em;
	padding-left: 0.3em; }
nav ul { padding: 0; }
nav li { display: block;
	margin: 0;
	border-bottom: 2px solid #330000; }
nav a { display: block; }
#content img { float: none;
	padding: 0;
	margin: 0.1em; }
#content ul { list-style-position: outside; }
#mobile { display: inline; }
#desktop { display: none; }
label { float: none; 
text-align: left; }
#gallery { display: none; }
}

iframe {
	position:relative;
	float:left;
	margin-right:20px;	
}


